body {
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 25px;

}


.h1{
    color:#00f
}

.h2 {
    color:#00f;
}

img {
    width: 39vw;
    margin-right: 50%;
    border-radius: 30px;
    margin-top: 10%;
    outline:4px solid blue;

}

.myp {
    outline: 2px solid #00f;
    border-radius: 25px;
    padding: 10px;
    scale: 1.1;
}

.myform {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f0;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
}

.myf {
    background-color: #fff;
    color: black;
    scale: 2;
    margin-top: -20%;
    margin-bottom: -20%;
    padding: 20px;
}

.tp{
    outline: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
}

.top{
    outline:2px solid blue;
    border-radius: 25px;
    padding: 10px;
} 

.topi{
    outline:2px solid blue;
    border-radius: 25px;
    padding: 10px;
}

.topic{
    outline: 2px solid blue;
    border-radius: 25px;
    padding: 10px;

}

.topii{
    outline: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
}

.topiii{
    outline: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
}

.topiiii{
    outline: 2px solid blue;
    border-radius:25px;
    padding: 10px;
}

.topiiiii{
    outline: 2px solid blue;
    border-radius: 25px;
    padding: 10px;
}

.ty{
    border-radius: 25px;
    padding: 10px;
}

.o{
    color: #00f;

}

.oo{
    color:#00f
}

.op{
    color: #00f;
}

.pt{
    color: #00f;
}

.py{
    color: #00f;
}

.pyi{
    color: #00f;
}

.k{
    color: #00f;
}

.l{
    color:#00f;
}